<!DOCTYPE html>
<html>
  <head>
    <title>JSless</title>
    <link rel="icon" href="/images/favicon.PNG">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="bgimg-1">
    {{{body}}}
  </body>
</html>
